Junctions: 
{
	"numJunctions": 9999,
	"junctions": [
		{
			"junctionID": 1,
			"name": "firstJunction",
			"externalID": "",
			"geolocation": 
				{
					"lat": 1.0,
					"lon": 1.0
				},
			"signalized": true,
			"numEntrances": 4,
			"entrances": [2, 3, 4, 5],
			"numExits": 1,
			"exits": [6],
			"numTurns": 1,
			"turns": [
				{
					"turnID": 1,
					"type": "left",
					"angle": 25.0,
					"originSectionID": 5,
					"destinationSectionID": 10,
					"fromLaneRange": [1, 4],
					"toLaneRange": [2, 5],
					"turnSpeed": 10
				}
			]
		}
	]
}

Sections:
{
	"numSections": 9999,
	"sections": [
		{
			"sectionID": 1,
			"name": "firstSection",
			"speed": 20.5,
			"numLanes": 1,
			"lanes": [
				{
					"laneLength": 1.0,
					"initialOffset": 0.0,
					"isFullLane": true,
				},
			],
			"numPoints": 2,
			"shape": [
				[
					{
						"lat": 1.0,
						"lon": 1.0
					}
				],
				[
					{
						"lat": 2.0,
						"lon": 2.0
					}
				]
			]
		}
	]
}